<div class="col-xs-10 col-xs-offset-1 about">
    <h1>About Splurty</h1>


<p>
This splurty app was built by Kevin while combining his budding web developing skills with his interest in bowmaking (the deadly kind, not the froo-froo kind). 
</p>
<p>
If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
</p>
<br />
<br />

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'Kevin.jpg' , class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Kevin Hathorn</h2>
    <br />
    <p>
    Kevin Hathorn is a developing web developer who still loves to make bows the old way in his free time.  In a previous life he was a high school science teacher who taught himself physics.
    </p>
    </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
